{% extends 'base.html' %}

{% block title %}
    All Pokémon
{% endblock title %}

{% block content %}
<h1 class="center">All Pokémon</h1>

    

    {% for pokemon in pokemon %}
      <div class="pokemon-area-main">
        <div class="pokemon-area">
          <div class="card">
            <a href="{% url 'pokemon_detail' pokemon.id %}">
              <div class="card-image">
                <img src="/static/img/pokemon/{{ pokemon.pokedex_id }}.png">
                  </div>
                    <div class="card-content">
                      <span class="card-title center">{{ pokemon.name }}</span> 
                        <p>Pokedex #{{ pokemon.pokedex_id }}</p>
                        <p>Type: {{ pokemon.type }}</p>
                        <p>Color: {{ pokemon.color }}</p>
                        <p>Description: {{ pokemon.description }}</p>
                      </div>
                    </a>
              </div>
          </div>
        </div>


{% endfor %}


{% endblock content %}
