/* Base.html styling */

.img-responsive {
    max-height: 8vw;
    margin-top: .5vw;
    border-radius: 5px;
}

header .navbar-fixed {
    height: 9vw;
}

header .navbar-fixed .nav-wrapper {
    height: 9vw;
}

.navlink {
    margin-top: 2vw;
    font-size: 2.5vw;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    justify-content: flex-start;
    font-family: 'Bubblegum Sans', cursive;
    margin: 0;
    }
  
main {
    flex: 1 0 auto;
    }
  
form {
    margin-bottom: 5px;
    }


footer {
    padding-top: 0;
    padding-bottom: 15px;
    }

/* HOME Style */

/* .home-logo {
    display: flex;
    width: 85vw;
    height: 50vh;
    background-color: red;
    align-items: flex-end;
} */

.stretch-logo {
    width: 100vw;
    height: 60vh;
    background-image: url(../img/pokecollector-stretch.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom;
}



@media screen and (max-width: 980px) {
    .stretch-logo {
        margin-left: -7.5vw;
    }
}

@media screen and (max-width: 600px) {
    .stretch-logo {
        margin-left: -3vw;
        height: 40vh;
    }
}

@media screen and (min-width: 980px) {
    .stretch-logo {
        margin-left: -15vw;
    }
}
