/* Base.html styling */

.img-responsive {
    max-height: 8vw;
    margin-top: .5vw;
    border-radius: 5px;
}

header .navbar-fixed {
    height: 9vw;
}

header .navbar-fixed .nav-wrapper {
    height: 9vw;
}

.navlink {
    margin-top: 2vw;
    font-size: 2.1vw;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    justify-content: flex-start;
    font-family: 'Bubblegum Sans', cursive;
    margin: 0;
    background-image: url(../img/pokecollector-stretch.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom 5.2vh center;
    }
  
main {
    flex: 1 0 auto;
    }
  
form {
    margin-bottom: 5px;
    }


footer {
    padding-top: 0;
    padding-bottom: 15px;
    }

/* HOME Style */

.button-area {
    display: grid;
    height: 100%;
    place-items: center;
}

#enter-button {
    font-size: 10vw;
    font-weight: bold;
    color: #FFCC00;
    text-shadow: -5px -5px 0 #386bbb, 
                  5px -5px 0 #386bbb, 
                  5px 5px 0 #386bbb;
    border: none;
    background-color: transparent;
    outline: none;
    font-family: 'Bubblegum Sans', cursive;
    margin-top: 5vh;
    
}

#enter-button a {
  color: #FFCC00;
}

button:hover {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}

button:active {
  transform: translateY(4px);
}

/* Index / Show All styling */


.card-image img {
    height: 50px !important;
    width: auto !important;
    margin: 0;
}

/* .card-image {
    display: flex;
    justify-content: center;
} */

.card-content {
    font-size: 1.3vw;
}


.battle-form,
.battle-table,
.battle-form-area {
    width: 42vw;
    font-size: 1.1em;
}

.battle-form {
    display: inline-flex;
}

.addbattle {
    margin: 8px 8px 0 0;
}
